---
# Copy this file to secrets.yaml and fill in your values
# secrets.yaml is excluded from version control

# Default your-wifi-ssid
wifi_ssid: "eW91ci13aWZpLXNzaWQ="
# Default your-wifi-password
wifi_password: "eW91ci13aWZpLXBhc3N3b3Jk"

# Default esp32-elt-12k
ap_password: "ZXNwMzItZWx0LTEyay"

# Default to changemechangemechangemechangeme
api_encryption_key: "Y2hhbmdlbWVjaGFuZ2VtZWNoYW5nZW1lY2hhbmdlbWU="
# Default is changeme
ota_password: "Y2hhbmdlbWU="
